.text-dark-blue { color:#005778 !important; }
.bg-dark-blue { background-color: #005778 !important; }

.text-aqua { color: #46a397 !important; }
.bg-aqua { background-color: #46a397 !important; }
.bg-aqua-opaque { background-color: rgba(70, 163, 151, 0.125) !important;}

.text-orange { color: #f77537 !important; }
.bg-orange { background-color: #f77537 !important; }
.border-orange { border: 1px solid #f77537 !important;}

.text-light-grey { color: #848484 !important; }
.bg-light-grey { background-color: #848484 !important; }

.text-dark-grey { color: #515151 !important; }
.bg-dark-grey { background-color: rgba(0, 0, 0, 0.85) !important; }

.bg-light-2 { background-color: rgba(0, 0, 0, 0.075) !important;}

.placeholder-white::placeholder { color: white !important;}
.placeholder-light-grey::placeholder { color: #9e9d9d !important;}


.bg-whatsapp { background-color: #08ac2c !important;}
.border-green { border: 2px solid #08ac2c !important;}
.bg-opaque {
    background-color: rgba(255, 255, 255, 0.225) !important;
}

/* ------------------------------------- */
.bg-purple {
    background-color: rgb(78, 0, 164) !important;
}
.text-purple {
    color: rgb(78, 0, 164) !important;
}
.bg-primary {
    background-color: rgb(0, 90, 153) !important;
}
.text-primary {
    color: rgb(0, 90, 153) !important;
}
.bg-info {
    background-color: #246E8D !important;
}
.bg-info-2 {
    background-color: #5CA8C9 !important;
}
.bg-info-3 {
    background-color: #32A6D855 !important;
}